{% extends "layout.html" %}
{% block content %}
        <div class="desc">
            <p>
                <img src="/images/awesome.gif" alt="Whoa!">
            </p>
            <p>Software maestro is beautiful, gorgeous and amazing!</p>
            <p>Until now, {{ member.count }} developers have been with us.
                As contributing to <a href="https://github.com/Software-Maestro">here</a>, you can join us.</p>

            <ul>
                <li class="github">
                    <a href="https://github.com/Software-Maestro/Board">
                        software-maestro/Board
                    </a>
                </li>
                <li class="github">
                    <a href="https://github.com/Software-Maestro/Members">
                        software-maestro/Members
                    </a>
                </li>
                <li class="github">
                    <a href="https://github.com/Software-Maestro/software-maestro.github.io">
                        software-maestro/software-maestro.github.io
                    </a>
                </li>
                <li class="github">
                    <a href="https://github.com/Software-Maestro/__static-creator">
                        software-maestro/__static-creator
                    </a>
                </li>
            </ul>
        </div>
{% endblock %}
