{% extends "layout.html" %}
{% set active_menu = 'mentor' %}
{% block content %}
        <div class="desc">
            <p>Mentor of software maestro.</p>
            <p>
                They give very helpful technique, skill, know-how, and even experiences to us. Until now, and to be continued.
            </p>
        </div>

        <div class="category">
            <button data-category="active" class="pure-button btn-small">Active</button>
            <button data-category="inactive" class="pure-button btn-small">Inactive</button>
        </div>

        <div class="members">
            {% for member in members %}
                <div class="member">
                    <img src="thumb" src="http://www.gravatar.com/avatar/{{ member.hashed_email }}?s=128" alt="profile image">
                    <div class="header">
                        <h1>{{ member.name }}</h1>
                        <h3><a href="https://github.com/{{ member.github }}">@{{ member.github}}</a></h3>
                    </div>
                    <div class="icons">
                        <a href="https://github.com/{{ member.github }}"><i class="fa fa-github fa-fw"></i></a>
                        {% if member.twitter %}<a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter fa-fw"></i></a>{% endif %}
                        {% if member.facebook %}<a href="https://www.facebook.com/{{ member.facebook }}"><i class="fa fa-facebook fa-fw"></i></a>{% endif %}
                    </div>
                    <div class="tags">
                        <button class="pure-button btn-small">{{ member.class }}</button>
                        <button class="pure-button btn-small">{{ member.sex }}</button>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
{% block external %}
    <div class="to-be-continued">
        <hr/>
        <span>to be continued</span>
    </div>
{% endblock %}
